body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.691) !important;
}

header {
    background-color: rgba(255, 255, 255, 0.691) !important;
    color: #e6e6faa4 !important;
    padding: 15px 0;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust this width as per your needs */
    height: 100vh; /* Full height */
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Frosted glass for Safari */
    border-right: 1px solid rgba(255, 255, 255, 0.311); /* Light border for effect */
    padding-top: 50px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure it stretches to the width of the navbar */
}

nav ul li {
    width: 100%; /* Make the links full width */
    text-align: center;
    margin-bottom: 20px;
}

nav ul li a {
    display: block; /* Make the anchor tag a block element */
    color: #9bd6a5;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

nav ul li a:hover {
    text-decoration: none;
    color: #a8c5b4;
    background-color: rgba(230, 230, 250, 0.3); 
    box-shadow: 0 0 10px 5px rgba(230, 230, 250, 0.5);
    border-radius: 50px; 
}

nav .logo img {
    width: 250px;
    margin-bottom: 30px;
}


main {
    /* padding: 20px; */
}

h1, h2 {
    color: #9bd6a5;
    font-size: 120% !important;
}


.fullscreen-gif {
    position: relative;
    width: 100%;
    height: 100vh; /* Fullscreen height */
    background: url('/images/optimized.gif') no-repeat center center/cover; /* Path to your GIF */
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 3rem;
}

.overlay-text p {
    font-size: 1.5rem;
}