<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" alt="Meraki Therapeutics Logo">
            </div>
            <!-- <div class="hamburger" id="hamburger">&#9776;</div> Hamburger icon -->
            <!-- <div class="close" id="close">&times;</div> Close icon -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/services">Specials + Events</a></li>
                <li><a href="/services">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>

                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="fullscreen-gif">
            <div class="overlay-text">
                <p>Massage Professionals at Tsawwassen Commons.</p>
                <h1>Where your wellness matters.</h1>

            </div>
        </div>
    </main>

    <script>
        const hamburger = document.getElementById('hamburger');
        const closeIcon = document.getElementById('close');
        const navMenu = document.getElementById('nav-menu');

        hamburger.addEventListener('click', () => {
            navMenu.classList.add('show');
            hamburger.style.display = 'none';
            closeIcon.style.display = 'block';
        });

        closeIcon.addEventListener('click', () => {
            navMenu.classList.remove('show');
            closeIcon.style.display = 'none';
            hamburger.style.display = 'block';
        });
    </script>
</body>
</html>
