<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="fullscreen-gif">
        <nav>
            <div class="logo">
                <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>
            </div>
            <ul>
                <li>
                    <a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/specials">Specials + Events</a></li>
                <li><a href="/location">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>

                <img src = "/images/Meraki-Logo-Black.png" class="meraki-logo-right">

                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>


            <div class="nav-text">
                <p>Or Call</p>
                <p>604-383-0123</p>
            </div>
   

        </nav>


         <!-- Hamburger Icon -->
         <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

            <div class="overlay-text">
                <p>Massage Professionals at Tsawwassen Commons.</p>
                <h1>Where your wellness matters.</h1>

            </div>
        </div>

    </header>



    <main>
        <br>
        <!-- Meraki Section -->
        <section class="meraki-block">
            <img src = "/images/Meraki-Logo-White.png" class="meraki-logo">
            <h1>Meraki [may-rah-kee]</h1>
            <p>Doing something with soul, creativity or love. Meraki is about putting something of yourself into what you are doing.</p>
        </section>

        
<br>


   <!-- Soma Section -->
   <section class="soma-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4 class="treatment">Soma - Non RMT</h4>
         <p>Connect with our certified massage professional for a full body table massage, for your alternative treatment and prevention, or for a much needed break from tension and stress.</p>
         <a href="/services"><button class="btn btn-learn-more">LEARN MORE</button></a>

            </div>
        </div>
    </div>
</section>

<br>




      <!-- Crown Section -->
<section class="crown-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Right Section -->
            <div class="col-md-6 offset-md-6 d-flex flex-column justify-content-center ps-5 right-section-crown">
                <h4 class="treatment">Crown - Non RMT</h4>
                <p>Ease your body and mind from blockages in energy to achieve balance. Our upper body chair massage will loosen tight muscles in the head, neck, shoulders, back and arms.</p>
                <a href="/services"><button class="btn btn-learn-more">LEARN MORE</button></a>            </div>
        </div>
    </div>
</section>

    
    
            <br>
    



               <!-- Roots Section -->
   <section class="roots-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4 class="treatment">Roots - Non RMT</h4>
         <p>Reduce your stress and help your body achieve a state of deep relaxation. Our hand and foot reflexology massage techniques will improve circulation and relieve tension.</p>
         <a href="/services"><button class="btn btn-learn-more">LEARN MORE</button></a>
            </div>
        </div>
    </div>
</section>

<br>





        <!-- Meraki Section -->
        <section class="meraki-block">
            <img src = "/images/Meraki-Logo-White.png" class="meraki-logo">
            <h1>Call 604-383-0123 to book.</h1>
            <p>Conveniently located in Tsawwassen Commons to serve the communities of Ladner, Delta, and Tsawwassen.</p>
            <a href="https://merakitherapeutics.janeapp.com/" class="btn btn-learn-more">Book a Session</a> <!-- Add your link URL -->

        </section>











    
    </main>

    <script>
        // Select the hamburger menu and nav
        const hamburger = document.getElementById('hamburger-menu');
        const nav = document.querySelector('nav');
    
        // Toggle the nav visibility when the hamburger icon is clicked
        hamburger.addEventListener('click', function() {
            nav.classList.toggle('active');
        });
    </script>
    
    
</body>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>© 2024 Meraki Therapeutics</p>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="https://www.instagram.com/laurieekins/">Website Created by Laurie Solkoski</a>
        </div>
        <div class="footer-right">
            <a href="https://www.facebook.com/merakitherapeutics" target="_blank" class="social-icon">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/merakitherapeutics/" target="_blank" class="social-icon">
                <img src="/images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>



</html>
