<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="fullscreen-gif">
        <nav>
            <div class="logo">
                <a href="/"> <img src="/images/logo.png" alt="Meraki Therapeutics Logo"> </a>
            </div>
            <ul>
                <li>
                    <a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/services">Specials + Events</a></li>
                <li><a href="/services">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>

                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>


            <div class="nav-text">
                <p>Or Call</p>
                <p>604-383-0123</p>
            </div>
   

        </nav>


         <!-- Hamburger Icon -->
         <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

            <div class="overlay-text">
                <p>Massage Professionals at Tsawwassen Commons.</p>
                <h1>Where your wellness matters.</h1>

            </div>
        </div>

    </header>



    <main>
        <!-- Meraki Section -->
        <section class="meraki-block">
            <h1>Meraki [may-rah-kee]</h1>
            <p>Doing something with soul, creativity or love. Meraki is about putting something of yourself into what you are doing.</p>
        </section>

         <!-- Soma Block -->

    <section class="soma-block">
        <div class = "soma-image"></div>

        <div class="soma-content">
            <h2>Soma - Non RMT</h2>
            <p>Connect with our certified massage professional for a full body table massage, for your alternative treatment and prevention, or for a much needed break from tension and stress.</p>
            <a href="#learn-more" class="btn-learn-more">Learn More</a>
        </div>
    </section>

    
    </main>

    <script>
        // Select the hamburger menu and nav
        const hamburger = document.getElementById('hamburger-menu');
        const nav = document.querySelector('nav');
    
        // Toggle the nav visibility when the hamburger icon is clicked
        hamburger.addEventListener('click', function() {
            nav.classList.toggle('active');
        });
    </script>
    
    
</body>
</html>
