<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/services.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>

<body>

    <!-- Black Bar at the top -->
    <div class="top-bar fixed-top d-flex justify-content-between align-items-center">
        <div class="top-bar-book-now m-0">
            <a href="https://merakitherapeutics.janeapp.com/" class="btn btn-book-now">Book Now</a>
        </div>
        <div class="top-bar-nav-text text-white">
            <p class="mb-0">Or Call</p>
            <p class="mb-0">604-383-0123</p>
        </div>
    </div>

    <header>
        <div class="fullscreen-gif">
            <nav>
                <div class="logo">
                    <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>
                </div>
                <ul>
                    <li>
                        <a href="/why_meraki">Why Meraki</a></li>
                    <li><a href="/team">Our Team</a></li>
                    <li><a href="/services">Treatments</a></li>

                    <li><a href="/specials">Specials + Events</a></li>
                    <li><a href="/location">Location + Hours</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <img src="/images/Meraki-Logo-Colour-RGB-cropped.png" class="meraki-logo-right">


                    <li class="book-now">
                        <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                    </li>


                    <div class="nav-text">
                        <p>Or Call</p>
                        <p>604-383-0123</p>
                    </div>


            </nav>


            <!-- Hamburger Icon -->
            <div class="hamburger-yay">
                <div class="hamburger-logo" id="hamburger-logo">
                    <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>

                </div>

                <div class="hamburger-menu" id="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <!-- Close Icon (Initially hidden) -->
            <div class="close-menu" id="close-menu" style="display: none;">
                <span class="close-icon">×</span>
            </div>

            <div class="overlay-text">
                <p>Treatments</p>
                <h1>Discover a greater sense of wellness.</h1>

            </div>
        </div>

    </header>



    <main>
        <br>

        <!-- New Section Above Meraki -->
        <section class="massage-section">
            <!-- Block 1 -->
            <div class="massage-block">
                <h4>Crown - Non RMT</h4>
                <p><strong>STARTING AT $79<br>FOR A FULL 45 MINUTE SESSION</strong></p>
                <p>This upper body chair massage focuses on muscles of the neck, shoulders, and back that experience
                    daily stress.</p>
                    <a href="/services#crown">  <button class="btn btn-learn-more">LEARN MORE</button> </a>

            </div>
            <!-- Block 2 -->
            <div class="massage-block">
                <h4>Soma - Non RMT</h4>
                <p><strong>STARTING AT $129<br>FOR A FULL 60 MINUTE SESSION</strong></p>
                <p>This therapeutic full body table massage will heal, relieve, and relax your body to enhance your
                    livelihood.</p>
                    <a href="/services#soma">  <button class="btn btn-learn-more">LEARN MORE</button> </a>
            </div>
            <!-- Block 3 -->
            <div class="massage-block">
                <h4>Roots - Non RMT</h4>
                <p><strong>STARTING AT $96<br>FOR A FULL 50 MINUTE SESSION</strong></p>
                <p>This natural healing therapy reflexology uses pressure to reflex points on the feet to center the
                    body and alleviate tension.</p>
                    <a href="/services#roots">  <button class="btn btn-learn-more">LEARN MORE</button> </a>
            </div>
        </section>



        <br>



        <!-- Meraki Section -->
        <section class="meraki-block container-fluid py-5 position-relative">
            <img src="/images/Meraki-Logo-White.png" class="meraki-logo">
            <div class="container">
                <div class="row gx-2">
                    <!-- Changed gx-2 to add a small gap between columns -->
                <!-- Left Section -->
<div class="col-md-6 d-flex flex-column justify-content-center pe-5">
    <h4>The Wanderer - Non RMT</h4>
    <h4>Recharge with our combination treatments.</h4>
    <ul class="list-unstyled">
        <li><strong>60 Minute</strong> Crown (30 mins) with Roots (30 mins) <strong>for $112</strong></li>
        <li><strong>65 Minute</strong> Crown (15 mins) with Roots (50 mins) <strong>for $122</strong></li>
        <li><strong>95 Minute</strong> Crown (45 mins) with Roots (50 mins) <strong>for $169</strong></li>
        <li><strong>110 Minute</strong> Soma (60 mins) with Roots (50 mins) <strong>for $199</strong></li>
        <li><strong>165 Minute</strong> Soma (90 mins) with Roots (75 mins) <strong>for $299</strong></li>
    </ul>
    <button class="btn btn-book-now mt-3 custom-book-now">Book Now</button>
</div>


                    <!-- Right Section -->
                    <div class="col-md-6 d-flex flex-column justify-content-center ps-5 right-section">
                        <h4>We offer add-ons, like:</h4>
                        <ul class="list-unstyled">
                            <li>Hot stone placement ($24)</li>
                            <li>A brown sugar foot scrub ($19)</li>
                            <li>Hydrating foot wrap ($18)</li>
                            <li>Aromatherapy Blend ($14)</li>
                            <li>Custom Steam Bowl ($14)</li>
                            <li>Herbal heat pack compress ($8)</li>
                        </ul>
                    </div>

                </div>
            </div>



        </section>



        <br>



       <!-- Crown Section -->
        <section id="crown">
<section class="crown-block container-fluid py-5 position-relative">

    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4>Treatment Pricing</h4>
                <ul class="list-unstyled">
                    <li>$56 for 30 minutes</li>
                    <li>$79 for 45 minutes</li>
                    <li>$104 for 60 minutes</li>
                    <li>$129 for 75 minutes</li>
                </ul>
                <button class="btn btn-book-now mt-3 custom-book-now">Book Now</button>
            </div>

            <!-- Right Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5 right-section-crown">
                <h4>Crown - Non RMT</h4>
                <p>Focusing on tension relief of soft tissue muscles of the head, neck, shoulders, back, and hands, your massage professional will provide pin-point treatment to relax and invigorate.</p>
                <h5>How it works</h5>
                <p>This convenient treatment requires guests to remain fully clothed while on our comfortable upright massage chair for our practitioner to work on key areas of the upper body.</p>
                <h5>Want more?</h5>
                <p>We offer brown sugar foot scrub ($19), hydrating foot wrap ($18), aromatherapy blend ($14), and/or herbal heat pack compress ($8) as additional service offerings, or check out our treatment packages.</p>
            </div>
        </div>
    </div>
</section>

</section>

        <br>




        <!-- Soma Section -->
        <section id="soma">
<section class="soma-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4>Treatment Pricing</h4>
                <ul class="list-unstyled">
                    <li>$129 for 60 minutes</li>
                    <li>$154 for 75 minutes</li>
                    <li>$177 for 90 minutes</li>
                    <li>$239 for 120 minutes</li>
                </ul>
                <button class="btn btn-book-now mt-3 custom-book-now">Book Now</button>
            </div>

            <!-- Right Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5 right-section-soma">
                <h4>Soma - Non RMT</h4>
                <p>Our certified massage professionals will provide personalized sessions that source and extract your pain or tension to leave you feeling relaxed and rejuvenated.</p>
                <h5>How it works</h5>
                <p>Before every session, we’ll discuss the areas that you would like to focus on so that your massage professional can craft a full body table treatment that maximizes your therapeutic relief.</p>
                <h5>Want more?</h5>
                <p>We offer hot stone therapy ($24), hydrating foot wrap ($18), aromatherapy blend ($14), custom steam bowl ($14), and/or herbal heat pack compress ($8) as additional service offerings, or check out our treatment packages.</p>
            </div>
        </div>
    </div>
</section>
</section>

<br>


<!-- Roots Section -->
<section id="roots">
<section class="roots-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4>Treatment pricing</h4>
                <ul class="list-unstyled">
                    <li>$59 for 30 minutes</li>
                    <li>$96 for 50 minutes</li>
                    <li>$140 for 75 minutes</li>
                    <li>$175 for 100 minutes</li>
                </ul>
                <button class="btn btn-book-now mt-3 custom-book-now">Book Now</button>
            </div>

            <!-- Right Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center ps-5 right-section-roots">
                <h4>Roots - Non RMT</h4>
                <p>Foot reflexology is a natural healing therapy that applies pressure to reflex points that correspond to vital organs and glands in the body to alleviate stress and increase circulation.</p>
                <h5>How it works</h5>
                <p>While seated on one of our leather reclining chairs, you'll experience a soothing sea salt foot bath along with a gentle hand and arm massage to soothe and relax your upper body before your reflexology treatment.</p>
                <h5>Want more?</h5>
                <p>We offer brown sugar foot scrub ($19), hydrating foot wrap ($18), aromatherapy blend ($14), and/or herbal heat pack compress ($8) as additional service offerings, or check out our treatment packages.</p>
            </div>
        </div>
    </div>
</section>
</section>



    </main>

    <script>
        // Select the hamburger and close menu icons and nav
        const hamburger = document.getElementById('hamburger-menu');
        const closeMenu = document.getElementById('close-menu');
        const nav = document.querySelector('nav');

        // Toggle the nav visibility and icons when the hamburger icon is clicked
        hamburger.addEventListener('click', function () {
            nav.classList.toggle('active');
            hamburger.style.display = 'none'; // Hide hamburger icon
            closeMenu.style.display = 'flex'; // Show close icon
        });

        // Toggle the nav visibility and icons when the close icon is clicked
        closeMenu.addEventListener('click', function () {
            nav.classList.toggle('active');
            closeMenu.style.display = 'none'; // Hide close icon
            hamburger.style.display = 'flex'; // Show hamburger icon
        });
    </script>


</body>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>© 2024 Meraki Therapeutics</p>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="https://www.instagram.com/laurieekins/">Website Created by Laurie Solkoski</a>
        </div>
        <div class="footer-right">
            <a href="https://www.facebook.com/merakitherapeutics" target="_blank" class="social-icon">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/merakitherapeutics/" target="_blank" class="social-icon">
                <img src="/images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>



</html>