<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/specials.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="fullscreen-gif">
        <nav>
            <div class="logo">
                <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>
            </div>
            <ul>
                <li>
                    <a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/specials">Specials + Events</a></li>
                <li><a href="/location">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>

                <img src = "/images/Meraki-Logo-Black.png" class="meraki-logo-right">

                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>


            <div class="nav-text">
                <p>Or Call</p>
                <p>604-383-0123</p>
            </div>
   

        </nav>


         <!-- Hamburger Icon -->
         <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

            <div class="overlay-text">
                <p>Massage Professionals at Tsawwassen Commons.</p>
                <h1>Where your wellness matters.</h1>

            </div>
        </div>

    </header>



    <main>
        <!-- Meraki Section -->
        <section class="meraki-block">
            <img src = "/images/Meraki-Logo-White.png" class="meraki-logo">
            <h1>Give the gift of wellness.</h1>
            <p>Looking for the perfect gift for the ones you care about, we offer seasonal specials, group treatments, and wellness events to revitalize mind and body.</p>
        </section>

        
<br>


   <!-- Soma Section -->
   <section class="soma-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4 class="treatment"><strong>REGISTERED MASSAGE THERAPY (RMT) APPOINTMENTS ARE NOW AVAILABLE!</strong></h4>
                <br>
                <h4 class="treatment">DIRECT BILLING FOR PACIFIC BLUE CROSS , SUN LIFE, PROVIDER CONNECT & TELUS ECLAIMS.</h4>
<p>Please book online on our new JaneApp booking platform: merakitherapeutics.janeapp.com or give us a call at: 604-383-0123
    Please feel free to email: reception@merakitherapeutics.com if you have any questions.
    </p>            
    <p><u>Follow Meraki Therapeutics on Instagram & Facebook to stay connected!</u></p>
    <p><strong>Thank you for your continued support!</strong></p>
    <p><strong>Team Meraki</strong></p>
        <p>Appointments available with our amazing Certified Licensed Bodyworkers (Non-RMT)!</p>
    <a href="https://merakitherapeutics.janeapp.com/" class="btn btn-learn-more">Book a Session</a> <!-- Add your link URL -->
</div>
        </div>
    </div>
</section>

<br>




      <!-- Crown Section -->
<section class="crown-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Right Section -->
            <div class="col-md-6 offset-md-6 d-flex flex-column justify-content-center ps-5 right-section-crown">
                <h4 class="treatment">Become a Meraki Club member today!</h4>
                <h4 class="treatment">Non RMT Treatments Only</h4>
                <p>We want to Celebrate <strong>“YOU!”</strong> Meraki Club members receive</p>
                <p><u><strong>one FREE 60 minute Soma ($129 value)</strong></u></p>
                <p>during your Birthday month annually!  Yes Please!!!</p>

                <br>

                <p>$300 = <strong> get an extra $20</strong></p>
                <p>+ 1 FREE 60 minute Soma = <strong> $449 Value</strong></p>

                <br>

                <p>$500 =  <strong>get an extra $50</strong></p>
                <p>+ 1 FREE 60 minute Soma -  <strong>$679 Value</strong></p>

                <br>

                <p>$750 =  <strong>get an extra $100</strong></p>
                <p>+ 1 FREE 60 minute Soma =  <strong>$979 Value</strong></p>

                <br>
                <p>$1000 =  <strong>get an extra $150</strong></p>
                <p>+ 1 FREE 60 minute Soma =  <strong>$1279 Value</strong></p>

                <br>

                <p><strong><i>$0 Sign up fees and $0 Monthly fees</i></strong></p>

                <br>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8">
                            <div class="centered-text">
                                <span>Convenient</span>
                                <span class="separator">•</span>
                                <span>Stress Free</span>
                                <span class="separator">•</span>
                                <span>Rewarding</span>
                            </div>
                        </div>
                    </div>
                </div>
<br>                
                

                <p><i>Ask our team for details today!</i></p>
                <p><i>All rights reserved under Meraki Therapeutics</i></p>


    <a href="https://merakitherapeutics.janeapp.com/" class="btn btn-learn-more">Book a Session</a> <!-- Add your link URL -->
            </div>
        </div>
    </div>
</section>

    
    
            <br>
    



               <!-- Roots Section -->
   <section class="roots-block container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2">
            <!-- Left Section -->
            <div class="col-md-6 d-flex flex-column justify-content-center pe-5">
                <h4 class="treatment"><strong>Give the gift of wellness.</strong></h4>
         <p>Our gift certificate(s) come beautifully wrapped and can be purchased in any denomination, treatment variation or Meraki Club Membership!</p>
         <br>
         <p><strong>Gift giving made easy!</strong></p>
         <br>
         <p><strong>*Purchase in-store today!</strong></p>
         <br>
         <p>*cannot be combined with any other specials, promotions or gift certificate purchase/redemption*</p>
            </div>
        </div>
    </div>
</section>

<br>















    
    </main>

    <script>
        // Select the hamburger menu and nav
        const hamburger = document.getElementById('hamburger-menu');
        const nav = document.querySelector('nav');
    
        // Toggle the nav visibility when the hamburger icon is clicked
        hamburger.addEventListener('click', function() {
            nav.classList.toggle('active');
        });
    </script>
    
    
</body>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>© 2024 Meraki Therapeutics</p>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="https://www.instagram.com/laurieekins/">Web Design by Laurie Solkoski</a>
        </div>
        <div class="footer-right">
            <a href="https://www.facebook.com/merakitherapeutics" target="_blank" class="social-icon">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/merakitherapeutics/" target="_blank" class="social-icon">
                <img src="/images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>



</html>
