<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/team.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>

     <!-- Black Bar at the top -->
     <div class="top-bar fixed-top d-flex justify-content-between align-items-center">
        <div class="top-bar-book-now m-0">
            <a href="https://merakitherapeutics.janeapp.com/" class="btn btn-book-now">Book Now</a>
        </div>
        <div class="top-bar-nav-text text-white">
            <p class="mb-0">Or Call</p>
            <p class="mb-0">604-383-0123</p>
        </div>
    </div>


    <header>
        <div class="fullscreen-gif">
        <nav>
            <div class="logo">
                <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>
            </div>
            <ul>
                <li>
                    <a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/specials">Specials + Events</a></li>
                <li><a href="/location">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>
                <img src = "/images/Meraki-Logo-Black.png" class="meraki-logo-right">


                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>


            <div class="nav-text">
                <p>Or Call</p>
                <p>604-383-0123</p>
            </div>
   

        </nav>


        <!-- Hamburger Icon -->
            <div class="hamburger-yay">
                <div class="hamburger-logo" id="hamburger-logo">
                    <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>

                </div>

                <div class="hamburger-menu" id="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <!-- Close Icon (Initially hidden) -->
            <div class="close-menu" id="close-menu" style="display: none;">
                <span class="close-icon">×</span>
            </div>

            <div class="overlay-text">
                <p>Treatments</p>
                <h1>Discover a greater sense of wellness.</h1>

            </div>
        </div>

    </header>




    <main>
        <br>
        <!-- Meraki Section -->
        <section class="meraki-block">
            <img src = "/images/Meraki-Logo-White.png" class="meraki-logo">
            <h1>Who we are.</h1>
            <p>As a passionate team of certified massage professionals, we embody the meaning of Meraki by committing our creativity and soul into the discipline we love.</p>
        </section>


<br>


<!-- June Yee Section -->
<section class="june-yee-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 june-text">
                <h2>June Yee</h2>
                <h4 class="owner-title">OWNER & FOUNDER</h4>
                <p>June sources her inspiration from wanting to help others and their bodies achieve a healthy and active lifestyle. This motivation, coupled with her keen interest in the human anatomy, propelled June to pursue the discipline of massage therapy. Too often she had heard of unsatisfied treatments and saw this as an opportunity to flex her passion, while providing knowledgeable treatments and promoting self-care.</p>
                <p>However, an unfortunate car accident in early 2016, injured her hand and rendered her ability to continue massage. While recovering, her curiosity spurred the research and pursuit of a more therapeutic approach to massage while helping people authentically connect, heal, and rejuvenate in a safe holistic environment.</p>
            </div>
        </div>
    </div>
</section>


<br>


<!-- Essa Section -->
<section class="essa-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Empty Column for Layout Alignment -->
            <div class="col-md-6"></div>

            <!-- Text Section on the Right -->
            <div class="col-md-6 essa-text">
                <h2>Essa Crossley</h2>
                <h4 class="owner-title">MANAGEMENT/TEAM LEADER & EDUCATOR</h4>
                <h4 class="owner-title">Certified LICENSED BODYWORKER</h4>
                <p>Essa joined Meraki in June of 2018 just after she graduated her massage program at the Vancouver School of Healing Arts. She brings a yoga background to her knowledge which helps her understand the body and what it might need in a more informed manner.</p>
                <p>After dealing with her own shoulder injuries over the years she finds that this area of the body is one she understands deeply, and is always happy to help clients gain back their mobility. We are proud to say that Essa holds many titles at Meraki, she trains and develops all new staff, as well as managing the day-to-day operations. She’s always available to assist clients and staff with achieving their goals. Essa brings a nurturing touch to her treatments and loves to share a good laugh!</p>
            </div>
        </div>
    </div>
</section>



<br>



<!-- Serena Section -->
<section class="serena-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 serena-text">
                <h2>Serena Dame</h2>
                <h4 class="owner-title">Certified LICENSED BODYWORKER</h4>
                <p>Serena completed her massage and aesthetics studies at Vancouver Community College (VCC). With many years of experience, highly sought after deep tissue sessions from this powerhouse will leave you feeling ironed out, energized and ready to conquer your day!</p>            
                <p>Serena is easy going, laid back, a passionate animal lover and enjoys spending her time caring for her many exotic pets!</p>

            </div>
    </div>
</section>


<br>



<!-- Mari Section -->
<section class="mari-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Empty Column for Layout Alignment -->
            <div class="col-md-6"></div>

            <!-- Text Section on the Right -->
            <div class="col-md-6 mari-text">
                <h2>Mari Iwasaki</h2>
                <h4 class="owner-title">Registered SHIATSU therapist (SPR)</h4>
                <h4 class="owner-title">Certified LICENSED BODYWORKER</h4>
                <p>Mari graduated and recieved her diploma from the Canadian College of Shiatsu Therapy in 2003. She is registered as a Certified Shiatsupractor with the Canadian Shiatsu Society of BC (CSSBC) and has been a Shiatsu Practitioner for over 20 years!.</p>
                <p>Along with her incredible hands on knowledge, Mari has taken additional studies in Innate Revitalization Therapy, Reiki & Aromatherapy in Japan. A true free spirit, Mari loves going on walks and hikes in nature!</p>
            </div>
        </div>
    </div>
</section>



<br>




<!-- Jarren Section -->
<section class="jarren-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 jarren-text">
                <h2>Jarren Bato</h2>
                <h4 class="owner-title">REGISTERED MASSAGE THERAPIST (RMT)</h4>
                <p>Jarren is a proud graduate of the Vancouver College of Massage Therapy’s full-time program. He brings a passion for enhancing well-being through therapeutic, patient-centered care.</p>            
                <p>His background as a care aide provides him with a deep understanding of holistic care, while his involvement in basketball and cycling has given him unique insights into sports-related injuries and recovery. Additionally, his experience working with youth and the elderly has enriched his ability to connect with clients of all ages</p>
                <p>Jarren’s approach is guided by his core values of family, excellence, and simplicity. He strives to make each session as effective and straightforward as possible, ensuring that clients receive the maximum benefit from their treatments. He utilizes techniques including, but not limited to: myofascial release, active and passive stretching, and joint mobilizations. When he's not in the clinic, Jarren enjoys spending time with his family, staying active through his favourite sports, and engaging in community activities.</p>

            </div>
    </div>
</section>


<br>



<!-- Kevin Section -->
<section class="kevin-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Empty Column for Layout Alignment -->
            <div class="col-md-6"></div>

            <!-- Text Section on the Right -->
            <div class="col-md-6 kevin-text">
                <h2>Kevin Ta</h2>
                <h4 class="owner-title">REGISTERED MASSAGE THERAPIST (RMT)</h4>
                <p>Kevin is a passionate and dedicated registered massage therapist who graduated from the Vancouver Career College RMT program in January 2024. With his primary focus being to enhance the health and wellbeing of his clients, Kevin is dedicated toward lifelong learning to hone his abilities and develop effective treatment strategies through an evidence-based practice.</p>
                <p>Depending on the individual needs of each client, Kevin incorporates a variety of treatment techniques which includes, but is not limited to Swedish massage therapy, myofascial release, trigger point therapy, hydrotherapy, and sports massage. With an extensive background in weight training, he is enthusiastic about facilitating wellness and recovery by incorporating exercise-related interventions and homecare recommendations for his clients if appropriate.</p>
            </div>
        </div>
    </div>
</section>



<br>
      


<!-- Bryan Rempel Section -->
<section class="bryan-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 bryan-text">
                <h2>Bryan Rempel</h2>
                <h4 class="owner-title">BODYWORKER</h4>
                <h4 class="owner-title">SOON-TO-BE-RMT</h4>
                <p>Bryan is a dedicated body worker with a passion for helping clients achieve their wellness goals through therapeutic touch. With hands-on experience and a deep understanding of the human body, Bryan provides personalized care to each client, focusing on promoting relaxation, and enhancing overall well-being.</p>
                <p>Currently enrolled in the Vancouver College of Massage Therapy (VCMT) to become a Registered Massage Therapist (RMT), Bryan is committed to expanding his knowledge and skills in the field of massage therapy. His goal is to complete his RMT certification and continue providing top-quality care, integrating advanced techniques to better serve his clients. Outside of his professional pursuits, Bryan enjoys staying active through sports, swimming, and hiking, which further fuels his passion for physical wellness and health.</p>
            </div>
        </div>
    </div>
</section>


<br>



<!-- Anika Section right -->
<section class="anika-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Empty Column for Layout Alignment -->
            <div class="col-md-6"></div>

            <!-- Text Section on the Right -->
            <div class="col-md-6 anika-text">
                <h2>Anika Rice</h2>
                <h4 class="owner-title">FRONT DESK EXTRAORDINAIRE & SOCIAL MEDIA</h4>
                <p>Anika is knowledgeable in all things wellness and has many years of experience within the massage and wellness industry! She truly believes in the power and healing benefits of massages from her own personal experiences.</p>
                <p>Anika is the ultimate self-care lover! When she is not working the front desk at Meraki, she spends her time doing makeup, playing with her cat Honey and studying to become a Child & Youth Care Practitioner. Anika would be happy to help answer any questions or inquiries you may have over the phone and visiting Meraki!</p>
            </div>
        </div>
    </div>
</section>



<br>



<!-- Scarlett Section left -->
<section class="scarlett-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 scarlett-text">
                <h2>Mizz Scarlett</h2>
                <h4 class="owner-title">CERTIFIED THERAPY FLOOF</h4>
                <p>Hi Everyone! My name is Mizz Scarlett!
                    I wanted to take a quick moment to introduce myself!
                    I am a sassy, foxy, intelligent little floof bean that needed an urgent foster…
                    Thankfully my mom officially adopted me and now I am part of the Meraki tribe!
                    I am taking my role as the unofficial supervisor very seriously! – Please be patient with me as I am still learning the ropes & shop etiquette!
                    I know my heavenly sister Pele would be very proud of me as I am working extremely hard to fill the big paw prints that she left behind here!
                    </p>
                    <p>*happytoetapsandbarks*</p>
            </div>
        </div>
    </div>
</section>


<br>





<!-- Ms. Pele Section -->
<section class="pele-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Empty Column for Layout Alignment -->
            <div class="col-md-6"></div>

            <!-- Text Section on the Right -->
            <div class="col-md-6 pele-text">
                <h2>Ms. Pele</h2>
                <h4 class="owner-title">CERTIFIED THERAPY POTATO & CANCER SURVIVOR</h4>
            </div>
        </div>
    </div>
</section>



<br>



<!-- Careers Section left -->
<section class="careers-section container-fluid py-5 position-relative">
    <div class="container">
        <div class="row gx-2 align-items-center">
            <!-- Text Section -->
            <div class="col-md-6 careers-text">
                <h2>Careers at Meraki!</h2>
                <h4 class="owner-title">REGISTERED MASSAGE THERAPIST (RMT) - FULL TIME/PART TIME</h4>
                <h4 class="owner-title">CERTIFIED LICENSED BODYWORKER - FULL TIME/PART TIME</h4>
                <p>Do you believe the power of touch can inspire? </p>
                <p>Do you believe the power of touch can transform? </p>
                <p>Do you believe in the healing benefits of massage? </p>
                <p>If you do, you embody what our team and Meraki is made of... </p>
                <p>We are currently accepting applications for the above positions! </p>
                <p>If you are looking to start or continue your career in a healthy and positive work environment… and looking to join a unique team and brand, where we pride on providing the highest level of care to our clients and promote self care and growth within our tribe?... </p>
                <p>Please email your cover letter & resume to: careers@merakitherapeutics.com. We look forward to meeting you!</p>
                <p>Thank you so much!</p>
                <p>June Yee</p>
                <p>"You express the truth of your character with the choice of your actions."</p>

            </div>
        </div>
    </div>
</section>


<br>



    
    </main>

    <script>
        // Select the hamburger and close menu icons and nav
        const hamburger = document.getElementById('hamburger-menu');
        const closeMenu = document.getElementById('close-menu');
        const nav = document.querySelector('nav');

        // Toggle the nav visibility and icons when the hamburger icon is clicked
        hamburger.addEventListener('click', function () {
            nav.classList.toggle('active');
            hamburger.style.display = 'none'; // Hide hamburger icon
            closeMenu.style.display = 'flex'; // Show close icon
        });

        // Toggle the nav visibility and icons when the close icon is clicked
        closeMenu.addEventListener('click', function () {
            nav.classList.toggle('active');
            closeMenu.style.display = 'none'; // Hide close icon
            hamburger.style.display = 'flex'; // Show hamburger icon
        });
    </script>
    

    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>© 2024 Meraki Therapeutics</p>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="https://www.instagram.com/laurieekins/">Website Created by Laurie Solkoski</a>
            </div>
            <div class="footer-right">
                <a href="https://www.facebook.com/merakitherapeutics" target="_blank" class="social-icon">
                    <img src="/images/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/merakitherapeutics/" target="_blank" class="social-icon">
                    <img src="/images/instagram.png" alt="Instagram">
                </a>
            </div>
        </div>
    </footer>
    
</body>
</html>
