<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <h1>Meet the Team</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Meet the Team</a></li>
                <li><a href="/faq">FAQ</a></li>


            </ul>
        </nav>
    </header>

    <main>
        <section id="team">
            <h2>Meet the Team</h2>
         
        </section>
    </main>
</body>
</html>
