<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/team.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
</head>
<body>
    <header>
        <div class="fullscreen-gif">
        <nav>
            <div class="logo">
                <a href="/"> <img src="/images/Meraki-Logo-Colour-RGB.png" alt="Meraki Therapeutics Logo"> </a>
            </div>
            <ul>
                <li>
                    <a href="/why_meraki">Why Meraki</a></li>
                <li><a href="/team">Our Team</a></li>
                <li><a href="/services">Treatments</a></li>

                <li><a href="/services">Specials + Events</a></li>
                <li><a href="/services">Location + Hours</a></li>
                <li><a href="/faq">FAQ</a></li>

                <li class="book-now">
                    <a href="https://merakitherapeutics.janeapp.com/" class="btn-book-now">Book Now</a>
                </li>


            <div class="nav-text">
                <p>Or Call</p>
                <p>604-383-0123</p>
            </div>
   

        </nav>


         <!-- Hamburger Icon -->
         <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

            <div class="overlay-text">
                <p>Our Team</p>
                <h1>Enriching your wellness.</h1>

            </div>
        </div>

    </header>



    <main>
        <!-- Meraki Section -->
        <section class="meraki-block">
            <img src = "/images/Meraki-Logo-White.png" class="meraki-logo">
            <h1>Who we are.</h1>
            <p>As a passionate team of certified massage professionals, we embody the meaning of Meraki by committing our creativity and soul into the discipline we love.</p>
        </section>

         <!-- June Block -->

    <section class="june-block">
        <!-- <div class = "june-image"></div> -->
        <img src="/images/june.jpg" class="june-image" alt="June Yee">


        <div class="june-content">
            <h2>June Yee</h2>
            <h3>OWNER AND FOUNDER</h3>
            <p>June sources her inspiration from wanting to help others and their bodies achieve a healthy and active lifestyle. This motivation, coupled with her keen interest in the human anatomy, propelled June to pursue the discipline of massage therapy. Too often she had heard of unsatisfied treatments and saw this as an opportunity to flex her passion, while providing knowledgeable treatments and promoting self-care. However, an unfortunate car accident in early 2016, injured her hand and rendering her ability to continue massage. While recovering, her curiosity spurred the research and pursuit of a more therapeutic approach to massage while helping people authentically connect, heal, and rejuvenate in a safe holistic environment.</p>
        </div>
    </section>

<br>

    <!-- Essa Block-->
    <section class="essa-block">
        <img src="/images/essa.jpg" class="essa-image" alt="Essa">

        <div class="essa-content">
            <h2>Essa Crossley</h2>
            <h3>MANAGEMENT/TEAM LEADER AND EDUCATOR</h3>
            <h3>Certified LICENSED BODYWORKER</h3>
            <p>Essa joined Meraki in June of 2018 just after she graduated her massage program at the Vancouver School of Healing Arts. She brings a yoga background to her knowledge which helps her understand the body and what it might need in a more informed manner. After dealing with her own shoulder injuries over the years she finds that this area of the body is one she understands deeply, and is always happy to help clients gain back their mobility. We are proud to say that Essa holds many titles at Meraki, she trains and develops all new staff, as well as managing the day-to-day operations. She’s always available to assist clients and staff with achieving their goals. Essa brings a nurturing touch to her treatments and loves to share a good laugh!</p>
        </div>
    </section>
    
    </main>

    <script>
        // Select the hamburger menu and nav
        const hamburger = document.getElementById('hamburger-menu');
        const nav = document.querySelector('nav');
    
        // Toggle the nav visibility when the hamburger icon is clicked
        hamburger.addEventListener('click', function() {
            nav.classList.toggle('active');
        });
    </script>
    
    
</body>
</html>
